/* Color Theme Swatches in Hex */
.BLACK-AND-WHITE-ARCHITECTURE---PART-III-1-hex { color: #F2DC6D; }
.BLACK-AND-WHITE-ARCHITECTURE---PART-III-2-hex { color: #8C8C8C; }
.BLACK-AND-WHITE-ARCHITECTURE---PART-III-3-hex { color: #595959; }
.BLACK-AND-WHITE-ARCHITECTURE---PART-III-4-hex { color: #262626; }
.BLACK-AND-WHITE-ARCHITECTURE---PART-III-5-hex { color: #0D0D0D; }

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playwrite+VN+Guides&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    :root {
      --destaque: #F2DC6D;
      --cinza-claro: #8C8C8C;
      --cinza-medio: #595959;
      --cinza-escuro: #262626;
      --preto: #0D0D0D;
      overflow-x: hidden;
    }
body {
      font-family: Arial, sans-serif;
      background: var(--preto);
      color: var(--cinza-claro);
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    header {
      background: var(--cinza-escuro);
      color: var(--destaque);
      padding: 15px;
      text-align: center;
      font-weight: bold;
    }

    main {
      flex: 1;
      padding: 30px;
      max-width: 800px;
      margin: auto;
    }
    .notas{
      margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nota{
  padding: 10px;
  border: var(--cinza-medio) 1px solid;
  border-radius: 5px;
  width: 70vw;
  background-color: #262626;
    transition: 0.2s;

}
.nota:hover{
  box-shadow: #8c8c8c8c 0px 0px 30px 5px;
    transition: 0.3s;
    background-color: #59595948;
    
}
.nota h2{
     display: flex;
     align-items: center; /* Alinha verticalmente */
     justify-content: center;
}

    h1 {
      margin-top: 0;
      font-size: 1.8rem;
      color: var(--destaque);
    }

    p {
     display: flex;
     align-items: center; /* Alinha verticalmente */
     justify-content: space-between;
      color: var(--cinza-claro);
      line-height: 1.6;
      font-size: 1rem;
    }

    footer {
      width: 100%;
      text-align: center;
      padding: 15px;
      background: var(--cinza-escuro);
      color: var(--cinza-claro);
      font-size: 0.9rem;
      margin-bottom: -1px;
      position: absolute;
      bottom: 0%;
    }